---

- name: create /etc/keystone/keystone.conf file
  template: src=keystone.conf.j2 dest=/etc/keystone/keystone.conf owner=root group=root mode=0644

- name: populate identity service database
  command: su -s /bin/sh -c "keystone-manage db_sync" keystone

- name: initialize fernet keys repositories
  command: "{{ item }}"
  with_items:
    - keystone-manage fernet_setup --keystone-user keystone --keystone-group keystone
    - keystone-manage credential_setup --keystone-user keystone --keystone-group keystone

- name: bootstrap the identity service
  command: keystone-manage bootstrap --bootstrap-password {{ ADMIN_PASS }} --bootstrap-admin-url http://controller:35357/v3/ --bootstrap-internal-url http://controller:35357/v3/ --bootstrap-public-url http://controller:5000/v3/ --bootstrap-region-id RegionOne

- name: create /etc/apache2/apache2.conf file
  copy: src=apache2.conf dest=/etc/apache2/apache2.conf owner=root group=root mode=0644

- name: restart apache2
  service: name=apache2 state=restarted

- name: remove /var/lib/keystone/keystone.db file
  file: path=/var/lib/keystone/keystone.db state=absent
