---

- name: create a domain, projects, users and roles
  command: "{{ item }}"
  with_items:
    - openstack project create --domain default --description "Service Project" service
    - openstack project create --domain default --description "Demo Project" demo
    - openstack user create --domain default --password {{ DEMO_PASS }} demo
    - openstack role create user
    - openstack role add --project demo --user demo user
  become: true
  become_user: openstack
  environment:
    OS_USERNAME: "{{ OS_USERNAME }}"
    OS_PASSWORD: "{{ OS_PASSWORD }}"
    OS_PROJECT_NAME: "{{ OS_PROJECT_NAME }}"
    OS_USER_DOMAIN_NAME: "{{ OS_USER_DOMAIN_NAME }}"
    OS_PROJECT_DOMAIN_NAME: "{{ OS_PROJECT_DOMAIN_NAME }}"
    OS_AUTH_URL: "{{ OS_AUTH_URL }}"
    OS_IDENTITY_API_VERSION: "{{ OS_IDENTITY_API_VERSION }}"

- name: create /etc/keystone/keystone-paste.ini file to disable the temporary authentication token mechanism
  copy: src=keystone-paste.ini dest=/etc/keystone/keystone-paste.ini owner=root group=root mode=0644

- name: verify operation requesting an authentication token as user admin
  command: openstack --os-auth-url http://controller:35357/v3 --os-project-domain-name default --os-user-domain-name default --os-project-name admin --os-username admin token issue
  become: true
  become_user: openstack
  environment:
    OS_USERNAME: "{{ OS_USERNAME }}"
    OS_PASSWORD: "{{ OS_PASSWORD }}"
    OS_PROJECT_NAME: "{{ OS_PROJECT_NAME }}"
    OS_USER_DOMAIN_NAME: "{{ OS_USER_DOMAIN_NAME }}"
    OS_PROJECT_DOMAIN_NAME: "{{ OS_PROJECT_DOMAIN_NAME }}"
    OS_AUTH_URL: "{{ OS_AUTH_URL }}"
    OS_IDENTITY_API_VERSION: "{{ OS_IDENTITY_API_VERSION }}"

- name: verify operation requesting an request authentication token as user demo
  command: openstack --os-auth-url http://controller:5000/v3 --os-project-domain-name default --os-user-domain-name default --os-project-name demo --os-username demo token issue
  become: true
  become_user: openstack
  environment:
    OS_USERNAME: "demo"
    OS_PASSWORD: "{{ DEMO_PASS }}"
    OS_PROJECT_NAME: "{{ OS_PROJECT_NAME }}"
    OS_USER_DOMAIN_NAME: "{{ OS_USER_DOMAIN_NAME }}"
    OS_PROJECT_DOMAIN_NAME: "{{ OS_PROJECT_DOMAIN_NAME }}"
    OS_AUTH_URL: "{{ OS_AUTH_URL }}"
    OS_IDENTITY_API_VERSION: "{{ OS_IDENTITY_API_VERSION }}"

- name: create ~openstack/admin-openrc file
  template: src=admin-openrc.j2 dest=~openstack/admin-openrc owner=openstack group=openstack mode=0644

- name: create ~openstack/demo-openrc file
  template: src=demo-openrc.j2 dest=~openstack/demo-openrc owner=openstack group=openstack mode=0644
