---
# tasks file for compute

- name: replace filter under /etc/lvm/lvm.conf
  lineinfile: dest=/etc/lvm/lvm.conf regexp='filter = \[ \"a\/\.\*\/\" \]' line='    filter = [ "a/sda/", "r/.*/"]'

- name: install packages
  apt: name={{ item }} state=present
  with_items:
    - nova-compute
    - neutron-linuxbridge-agent

- include: chrony_basic_conf.yml

- include: nova_conf.yml

- include: neutron_conf.yml
