---
# tasks file for common

- name: use apt-cacher for fast package updates
  copy: src=01proxy dest=/etc/apt/apt.conf.d/01proxy owner=root group=root mode=0644

- name: add apt repository for openstack mitaka
  command: add-apt-repository cloud-archive:mitaka

- name: update apt cache
  apt: update_cache=yes

- name: upgrade packages
  apt: upgrade=dist

- name: install packages
  apt: name={{ item }} state=present autoremove=yes
  with_items:
    - chrony
    - python-openstackclient

- name: turns vim default system editor
  alternatives: name=editor path=/usr/bin/vim.basic

- name: change .bashrc file for user root
  copy: src=.bashrc.root dest=/root/.bashrc owner=root group=root mode=0644

- name: change .bashrc file for user vagrant
  copy: src=.bashrc.openstack dest=/home/openstack/.bashrc owner=openstack group=openstack mode=0644

- name: change /etc/hosts file
  copy: src=hosts dest=/etc/hosts owner=root group=root mode=0644
